[submodule "PMOVES-ToKenism-Multi"]
	path = PMOVES-ToKenism-Multi
	url = https://github.com/POWERFULMOVES/PMOVES-ToKenism-Multi.git
	branch = PMOVES.AI-Edition-Hardened
[submodule "PMOVES-Creator"]
	path = PMOVES-Creator
	url = https://github.com/POWERFULMOVES/PMOVES-Creator.git
	branch = PMOVES.AI-Edition-Hardened
[submodule "PMOVES-Archon"]
	path = PMOVES-Archon
	url = https://github.com/POWERFULMOVES/PMOVES-Archon.git
	branch = PMOVES.AI-Edition-Hardened
[submodule "PMOVES-DoX"]
	path = PMOVES-DoX
	url = https://github.com/POWERFULMOVES/PMOVES-DoX.git
[submodule "pmoves/integrations/archon"]
	path = pmoves/integrations/archon
	url = https://github.com/POWERFULMOVES/PMOVES-Archon.git
[submodule "PMOVES-n8n"]
	path = PMOVES-n8n
	url = https://github.com/POWERFULMOVES/PMOVES-n8n.git
[submodule "PMOVES-crush"]
	path = PMOVES-crush
	url = https://github.com/POWERFULMOVES/PMOVES-crush.git
	branch = PMOVES.AI-Edition-Hardened
[submodule "PMOVES-Pipecat"]
	path = PMOVES-Pipecat
	url = https://github.com/POWERFULMOVES/pmoves-pipecat.git
[submodule "PMOVES-Ultimate-TTS-Studio"]
	path = PMOVES-Ultimate-TTS-Studio
	url = https://github.com/POWERFULMOVES/PMOVES-Ultimate-TTS-Studio.git
[submodule "PMOVES-Pinokio-Ultimate-TTS-Studio"]
	path = PMOVES-Pinokio-Ultimate-TTS-Studio
	url = https://github.com/POWERFULMOVES/PMOVES-Pinokio-Ultimate-TTS-Studio.git
