# Core
fastapi
uvicorn
pydantic
nats-py
jsonschema
PyYAML

# Testing
pytest
pytest-asyncio

# Optional (dev/debug)
a2wsgi
ansio
browser-use
crontab
docker
duckduckgo-search
faiss-cpu
fastmcp
fasta2a
flaredantic
flask[async]
flask-basicauth
GitPython
inputimeout
kokoro
langchain-community
langchain-core
langchain-unstructured[all-docs]
litellm
lxml_html_clean
markdown
markdownify
mcp
nest-asyncio
newspaper3k
openai-whisper
paramiko
pathspec
pdf2image
playwright
psutil
pymupdf
pypdf
python-dotenv
pytesseract
pytz
sentence-transformers
simpleeval
soundfile
tiktoken
unstructured-client
unstructured[all-docs]
webcolors
