apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../base

images:
  - name: ghcr.io/powerfulmoves/pmoves-core
    newName: ghcr.io/powerfulmoves/pmoves-core
    newTag: "dev-local"

patches:
  - target:
      kind: Ingress
      name: pmoves-core
    patch: |
      - op: replace
        path: /spec/rules/0/host
        value: pmoves.localtest.me
