apiVersion: kustomize.config.k8s.io/v1beta1
kind: Kustomization

resources:
  - ../base

images:
  - name: ghcr.io/powerfulmoves/pmoves-core
    newName: ghcr.io/powerfulmoves/pmoves-core
    newTag: "v1.0.0-kvm4-hardened"

patches:
  - target:
      kind: Ingress
      name: pmoves-core
    patch: |
      - op: replace
        path: /spec/rules/0/host
        value: pmoves.kvm4.yourdomain.tld
  - target:
      kind: Deployment
      name: pmoves-core
    patch: |
      - op: replace
        path: /spec/replicas
        value: 2
